<div *ngIf="search && search.length > 0" class="w-full grid place-items-center px-40">
  <div
    class="h-auto w-full lg:w-1/3 rounded-md bg-gradient-to-br from-malachite-500 via-malachite-700 to-malachite-200 p-1 my-10 dark:from-blue-ribbon-500 dark:via-blue-ribbon-700 dark:to-blue-ribbon-200">
    <div class="flex h-auto w-full items-center justify-center flex-col bg-malachite-50 dark:bg-slate-700 back">
      <div>
        <p class="text-malachite-500 dark:text-white text-lg xl:text-xl">
          Search: <span class="text-2xl text-malachite-500 dark:text-blue-ribbon-500">{{ search }}</span>
        </p>
      </div>
      <div>
        <p class="text-malachite-500 dark:text-white text-lg xl:text-xl">
          Results: <span class="text-2xl text-malachite-500 dark:text-blue-ribbon-500">{{ findCharacters?.length ?? 'Not
            found' }}</span>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Infinity Scroll -->
<div *ngIf="!findCharacters && !search" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollUpDistance]="1"
  [infiniteScrollThrottle]="50" (scrolled)="onScroll()"
  class="my-20 w-1/2 h-auto p-4 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6 place-items-center">
  <div class="grid grid-cols-1 w-full gap-4 place-items-center" *ngFor="let character of charactersRickAndMorty">
    <img data-id="{{character.id}}" [src]="character.image" class="object-cover rounded object-center animation shadow-md
        dark:shadow-lg shadow-malachite-500 dark:shadow-blue-ribbon-600" [alt]="character.name">
    <div class="flex flex-col w-full h-auto justify-center items-center gap-2 animation">
      <p class="titleDegrant text-base xl:text-xl"><strong>{{character.name}}</strong></p>
      <p class=" text-sm lg:text-lg underline decoration-2 underline-offset-4" [ngClass]="
          {
            'before:content-[\'☠️\'] decoration-red-700': character.status !== 'Alive',
            'before:content-[\'✅\'] decoration-malachite-500': character.status === 'Alive'
          }">
        {{character.status}}
      </p>
      <a routerLink="details/{{character.id}}" class="outline-malachite dark:outline-blue-ribbon">More</a>
    </div>
  </div>

</div>

<!-- Serach -->
<div *ngIf="findCharacters !== undefined && findCharacters.length > 0"
  class="my-30 w-2/3 h-auto p-4 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6 place-items-center">
  <div
    class="grid auto-cols-auto lg:auto-cols-max gap-3 place-items-center w-full hover:scale-105 transition-all duration-300"
    *ngFor="let character of findCharacters">
    <img [src]="character.image" class="object-cover rounded object-center animation shadow-md
        dark:shadow-lg shadow-malachite-500 dark:shadow-blue-ribbon-600" [alt]="character.name">

    <div
      class="flex flex-col justify-center items-center lg:justify-start lg:items-start p-3 text-malachite-500 dark:text-white w-full h-full animation">
      <p class="text-malachite-500 dark:text-blue-ribbon-500 text-lg xl:text-xl">
        <strong>{{character.name}}</strong>
      </p>
      <p class="text-lg xl:text-xl dark:text-white underline decoration-2 underline-offset-4" [ngClass]="
        {
          'before:content-[\'☠️\'] decoration-red-700 text-red-900': character.status !== 'Alive',
          'before:content-[\'✅\'] decoration-malachite-500': character.status === 'Alive'
        }">
        {{character.status}}
      </p>
      <p class="text-lg xl:text-xl text-black dark:text-white">
        {{character.species}}
      </p>
      <p class="text-base xl:text-lg text-black dark:text-white">
        {{character.location.name}}
      </p>
    </div>
  </div>

</div>
