<nav
  class="z-20 lg:navSuperior top-0 dark:lg:navSuperior fixed w-11/12 m-0 border-b border-malachite-500 2xl:shadow-none dark:border-t-blue-ribbon-50 flex justify-center items-center dark:border-blue-ribbon-500"
>
  <div class="p-4 md:p-6 container  flex justify-between items-center gap-5 xl:gap-8">
    <div class="flex flex-col items-center justify-between">
      <figure class="z-50 w-full sm:w-auto">
        <a [routerLink]="['/']" class="flex items-center">
          <img
          [src]="
            state ?
              '../../../../assets/img_ricky/svg/rick-svg-face.png':
              '../../../../assets/img_ricky/svg/logo-dark-portal.png'"
            alt="Face rick"
            class="w-[40%] md:w-[20%] sm:w-[20%] lg:w-[30%] xl:w-[20%]  h-auto object-cover object-center"
          >
          <span class="hidden text-base lg:block md:text-xl ml-3 dark:text-white">
            <span class="font-bold text-malachite-500 dark:text-blue-ribbon-500">Rick</span>
            and
            <span class="font-bold text-malachite-500 dark:text-blue-ribbon-500">morty</span>
          </span>
        </a>
      </figure>
    </div>

    <ng-container *ngTemplateOutlet="linksNav"></ng-container>

    <app-theme-mode
      [siteRenderNavbar]="true"
      (modeTheme)="renderImage($event)"
    />

  </div>

</nav>


<ng-template #linksNav>
  <input type="checkbox" name="hamburger" id="hamburger" class="peer" hidden>
  <label for="hamburger"
    class="peer-checked:hamburger py-4 block  z-20 w-fit cursor-pointer lg:hidden transition-all rounded h-4 absolute right-6">
    <div class="mb-2 h-[2px] md:w-6 w-5  bg-black dark:bg-blue-ribbon-500 transition"></div>
    <div class="h-[3px] md:w-6 w-5 bg-black dark:bg-blue-ribbon-500 transition"></div>
  </label>

  <!-- Body links -->
  <div
    #elementMenu
    class="peer-checked:card-gradiente peer-checked:overflow-auto dark:bg-transparent dark:lg:bg-transparent w-3/5 shadow-lg transition flex flex-col justify-between px-12
        fixed inset-0 translate-x-[-100%] peer-checked:translate-x-0 lg:w-auto lg:static lg:shadow-none lg:translate-x-0 lg:px-0 lg:flex-row z-40 lg:bg-transparent lg:blur-none">
    <!-- Enlaces -->
    <ul class="px-6 py-36 flex flex-col gap-10 text-center text-lg  lg:flex-row lg:p-4">
      <li
        (click)="routerGo(item)"
        class="cursor-pointer  text-sm md:text-lg hover:text-malachite-700 dark:hover:text-blue-ribbon-700 dark:transition-all grid place-items-center tracking-wide py-2 px-4 font-semibold transition duration-200 hover:bg-zinc-100 hover:rounded dark:hover:bg-blue-ribbon-300
        dark:bg-transparent text-malachite-500 dark:text-blue-ribbon-500 "
        *ngFor="let item of mainMenu.defaultOptions"
      >
        <span>
          {{ item.name }}
        </span>
      </li>
      <li
      (click)="scrollToTop()"
        class="cursor-pointer  text-sm md:text-lg hover:text-malachite-700 dark:hover:text-blue-ribbon-700 dark:transition-all grid place-items-center tracking-wide py-2 px-4 font-semibold transition duration-200 hover:bg-zinc-100 hover:rounded dark:hover:bg-blue-ribbon-300
        dark:bg-transparent text-malachite-500 dark:text-blue-ribbon-500 "
      >
        <span>
          Up
        </span>
      </li>
      <li>
        <app-search [search]="true" />
      </li>
      <li>
        <app-theme-mode
          [siteRenderNavbar]="false"
          (modeTheme)="renderImage($event)"
        />
      </li>
    </ul>
    <app-search [search]="false" />

  </div>
</ng-template>
