<a
  class="grid grid-cols-1 w-full gap-4 place-items-center"
  [routerLink]="['/details', character.id]"
  *ngFor="let character of charactersRickAndMorty"
>
  <img data-id="{{character.id}}" [src]="character.image" class="object-cover rounded object-center animation shadow-md
      dark:shadow-lg shadow-malachite-500 dark:shadow-blue-ribbon-600" [alt]="character.name">
  <div class="flex flex-col w-full h-auto justify-center items-center gap-2 animation">
    <p class="titleDegrant text-base xl:text-xl"><strong>{{character.name}}</strong></p>
    <p class=" text-sm lg:text-lg underline decoration-2 underline-offset-4" [ngClass]="
        {
          'before:content-[\'☠️\'] decoration-red-700': character.status !== 'Alive',
          'before:content-[\'✅\'] decoration-malachite-500': character.status === 'Alive'
        }">
      {{character.status}}
    </p>
  </div>
</a>
