<article id="section-details" class="mt-28 lg:mt-56 w-full mb-20 grid place-items-center">
  <div class="w-2/3">
    <h2  class="text-4xl my-3 p-2 lg:text-6xl text-center font-bold titleDegrant">Details {{caharacter ?caharacter.name : 'Caharacter' }}</h2>

    <div *ngIf="caharacter"
      (mouseenter)="onMouseEnter($event)"
      (mouseleave)="onMouseLeave($event)"
      class="grid grid-flow-row lg:grid-cols-2 rounded-lg lg:grid-flow-col lg:gap-4 justify-stretch mt-20  overflow-hidden shadow-malachite-400 dark:shadow-blue-ribbon-400 shadow-md"
    >
      <!-- Image -->
      <div class="w-full flex justify-start h-full">
        <img src="{{caharacter.image}}" alt="{{caharacter.name}}"
          class="w-full h-full object-cover object-center rounded-t-lg lg:rounded-l-lg shadow-lg">
      </div>
      <!-- Information -->
      <div
        class="w-full py-4 text-stuffed flex flex-col items-start justify-start gap-2 text-sm md:text-lg translate-x-96"
        #character
      >
        <span class="titleDegrant">Status</span>
        <p class="px-2">{{caharacter.status}}</p>
        <span class="titleDegrant">Species</span>
        <p class="px-2">{{caharacter.species}}</p>
        <span class="titleDegrant">Gender</span>
        <p class="px-2">{{caharacter.gender}}</p>
        <span class="titleDegrant">Species</span>
        <p class="px-2">{{caharacter.species}}</p>
        <span class="titleDegrant">Location</span>
        <p class="px-2">{{caharacter.location.name}}</p>
        <p class="px-2">{{caharacter.origin.name}}</p>
      </div>
    </div>
  </div>
  <!-- Await response -->
  <ng-container *ngTemplateOutlet="awaitResponse"></ng-container>
</article>
<!-- Component Card -->
<h2 *ngIf="locationRelatedCharacter.length > 0" class="titleDegrant text-center text-xl md:text-2xl font-bold">Related characters due to their location</h2>
<app-character-card
  *ngIf="locationRelatedCharacter && findCharacters.length === 0"
  [charactersRickAndMorty]="locationRelatedCharacter"
  class="w-full my-10 grid place-items-center grid-cols-1 gap-6 md:grid-cols-2 "
/>
<!-- Serach Component -->
<app-search-card
  *ngIf="findCharacters"
  [findCharacters]="findCharacters"
  class="my-30 w-full h-auto p-4 grid grid-cols-1 md:grid-cols-2 gap-12 place-items-center"
/>


<!-- Await Response -->
<ng-template #awaitResponse>
  <div
    *ngIf="!caharacter && !locationRelatedCharacter"
    class="grid grid-cols-2 animate-pulse gap-20 place-items-start mt-20 border rounded-lg border-malachite-500 dark:border-blue-ribbon-500 h-80 w-2/3 p-4">
    <!-- Image -->
    <div class="w-full flex justify-start bg-slate-600 h-full">
    </div>
    <!-- Information -->
    <div class="w-full py-10 flex flex-col items-start justify-start gap-4 rounded h-full ">
      <div class="bg-slate-600 w-full h-full rounded-lg"></div>
      <div class="bg-slate-600 w-full h-full rounded-lg"></div>
      <div class="bg-slate-600 w-full h-full rounded-lg"></div>
      <div class="bg-slate-600 w-full h-full rounded-lg"></div>
      <div class="bg-slate-600 w-full h-full rounded-lg"></div>
      <div class="bg-slate-600 w-full h-full rounded-lg"></div>
      <div class="bg-slate-600 w-full h-full rounded-lg"></div>
    </div>
  </div>
  <div
    *ngIf="!caharacter"
    class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 animate-pulse w-full P-2 gap-10 h-60 mt-20">
    <div class="rounded w-10/12 h-full bg-slate-600 "></div>
    <div class="rounded w-10/12 h-full bg-slate-600"></div>
    <div class="rounded w-10/12 h-full bg-slate-600"></div>
  </div>
</ng-template>
