

.cardAnimation {
  animation: translateInY 0.6s ease-in-out;
}

.textAnimation {
  animation: translateInYReverse 0.6s ease-in-out;
}

/* Prefijos del navegador */
@-webkit-keyframes translateInY {
  from {
    -webkit-transform: translateY(20rem);
    opacity: 0.5;
  }

  to {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes translateInYReverse {
  from {
    -webkit-transform: translateY(-20rem);
    opacity: 0.5;
  }

  to {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}
