<article id="section-details" class="mt-56 w-full mb-20 grid place-items-center">
  <div class="w-2/3">
    <h2 class="text-6xl text-center font-bold titleDegrant">Details character</h2>

    <div *ngIf="caharacter"
      class="grid grid-cols-2 gap-20 place-items-start mt-20 border rounded-lg border-malachite-500 dark:border-blue-ribbon-500"
    >
      <!-- Image -->
      <div class="w-full flex justify-start">
        <img src="{{caharacter.image}}" alt="{{caharacter.name}}"
          class="w-full object-fill object-center rounded shadow-lg">
      </div>
      <!-- Information -->
      <div class="w-full py-10 flex flex-col items-start justify-start gap-4">
        <p class="titleDegrant text-2xl font-medium">{{caharacter.name}}</p>
        <p class="text-stuffed">{{caharacter.status}}</p>
        <p class="text-stuffed">{{caharacter.species}}</p>
        <p class="text-stuffed">{{caharacter.gender}}</p>
        <p class="text-stuffed">{{caharacter.type}}</p>
        <p class="text-stuffed">{{caharacter.location.name}}</p>
        <p class="text-stuffed">{{caharacter.origin.name}}</p>
      </div>
    </div>
  </div>
  <ng-container *ngTemplateOutlet="awaitResponse"></ng-container>

</article>
<app-multiple-characters [multipleCharacters]="locationRelatedCharacter" />

<!-- Await Response -->
<ng-template #awaitResponse>
  <div
    *ngIf="!caharacter"
    [class]="caharacter ? 'animate-pulse': ''"
    class="grid grid-cols-2 gap-20 place-items-start mt-20 border rounded-lg border-malachite-500 dark:border-blue-ribbon-500 h-80 w-2/3 p-4">
    <!-- Image -->
    <div class="w-full flex justify-start bg-slate-600 h-full">
      <!-- <img src="{{caharacter.image}}" alt="{{caharacter.name}}"
        class="w-full object-fill object-center rounded shadow-lg"> -->
    </div>
    <!-- Information -->
    <div class="w-full py-10 flex flex-col items-start justify-start gap-4 rounded h-full ">
      <div class="bg-slate-600 w-full h-full rounded-lg"></div>
      <div class="bg-slate-600 w-full h-full rounded-lg"></div>
      <div class="bg-slate-600 w-full h-full rounded-lg"></div>
      <div class="bg-slate-600 w-full h-full rounded-lg"></div>
      <div class="bg-slate-600 w-full h-full rounded-lg"></div>
      <div class="bg-slate-600 w-full h-full rounded-lg"></div>
      <div class="bg-slate-600 w-full h-full rounded-lg"></div>
    </div>
  </div>
</ng-template>
