<div class="w-full fixed left-0 bottom-2 bg-transparent">
  <div class="w-full grid grid-cols-1 px-10 gap-4">

    <div class="w-full h-auto flex flex-row justify-end items-end gap-2"
    >
      <a href="https://www.linkedin.com/in/javier-restrepo-toro/"
        class=""
      >
        <svg
          class="icon icon-tabler icon-tabler-brand-linkedin w-8 h-8 "
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#4DA353"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          onmouseover="this.style.filter='drop-shadow(0 0 8px rgba(0, 255, 0, 0.7))'"
          onmouseout="this.style.filter=''"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
          <path d="M8 11l0 5" />
          <path d="M8 8l0 .01" />
          <path d="M12 16l0 -5" />
          <path d="M16 16v-3a2 2 0 0 0 -4 0" />
        </svg>
      </a>

      <a href="https://github.com/jarestrepot">
        <svg  class="icon icon-tabler icon-tabler-brand-github w-8 h-8"
          viewBox="0 0 24 24" stroke-width="1.5" stroke="#4DA353" fill="none" stroke-linecap="round" stroke-linejoin="round"
          onmouseover="this.style.filter='drop-shadow(0 0 8px rgba(0, 255, 0, 0.7))'"
          onmouseout="this.style.filter=''"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" />
        </svg>
      </a>

      <a href="https://angular.io/">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-angular w-8 h-8"
          viewBox="0 0 24 24" stroke-width="1.5" stroke="#ff2825" fill="none" stroke-linecap="round" stroke-linejoin="round" onmouseover="this.style.filter='drop-shadow(0 0 8px #ff2825)'"
          onmouseout="this.style.filter=''">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M5.428 17.245l6.076 3.471a1 1 0 0 0 .992 0l6.076 -3.471a1 1 0 0 0 .495 -.734l1.323 -9.704a1 1 0 0 0 -.658 -1.078l-7.4 -2.612a1 1 0 0 0 -.665 0l-7.399 2.613a1 1 0 0 0 -.658 1.078l1.323 9.704a1 1 0 0 0 .495 .734z" />
          <path d="M9 15l3 -8l3 8" />
          <path d="M10 13h4" />
        </svg>
      </a>
    </div>

  </div>
</div>
