<div
  [class]="
    search ? 'hidden lg:flex justify-center items-center border-t py-8 lg:border-t-0 w-full p-x6 dark:border-slate-700 lg:py-0 lg:pr-0 lg:pl-6':
    'lg:hidden flex justify-center items-center border-t py-8 px-6 lg:border-t-0 w-full p-x6 dark:border-slate-700 lg:py-0 lg:pr-0 lg:pl-6'
  "
>
  <input
    (ngModelChange)="callSearch($event)"
    [(ngModel)]="src"
    type="text"
    placeholder="Search..."
    class="sm:px-5 py-2 text-center sm:text-left rounded-lg text-malachite-600 dark:text-blue-ribbon-500 bg-transparent
    border border-malachite-500 dark:border-blue-ribbon-500"

  >
  <span
    class="input-group-text hidden md:block items-center whitespace-nowrap rounded px-3 py-1.5 text-center text-base font-normal text-neutral-700 dark:text-neutral-200"
    id="basic-addon-row">
    <svg viewBox="0 0 20 20" fill="currentColor" class="h-6 w-6 text-malachite-500 dark:text-blue-ribbon-500">
      <path fill-rule="evenodd"
        d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
        clip-rule="evenodd" />
    </svg>
  </span>
</div>
