<section class="w-full h-auto mt-28 lg:mt-40 bg-transparent pb-20">
  <img src="../../../../../assets/img_ricky/comprimida/fondo-home.png" alt="Rick and morty" class="hidden md:block top-0 left-0 w-screen object-cover
    object-center h-auto -z-20 fixed bg-no-repeat">
  <div class="flex flex-col mx-auto w-3/4 gap-14 overflow-auto my-28 lg:my-40">
    <h2 class="titleDegrant text-2xl lg:text-6xl font-bold">Section characters</h2>
    <p class="text-lg text-malachite-400 dark:text-blue-ribbon-400">Lorem ipsum dolor sit amet consectetur, adipisicing
      elit. Tempore esse, ducimus vel, magni explicabo inventore corrupti, quam doloribus aut enim voluptatem libero
      quisquam accusantium temporibus in. Dicta nihil aut culpa.</p>
    <div class="rounded-lg border border-red-800 w-2/4" *ngIf="messageError">
      <p class="text-center text-blue-ribbon-700">Not found character! ☠️</p>
    </div>
  </div>

  <app-character-card *ngIf="characteresFind" [charactersRickAndMorty]="characteresFind"
    class="w-full lg:mt-30 grid place-items-center grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3 z-50" />

</section>